.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  color: white;
  background-color: chocolate;
  float: left;
  margin: 5px;

  width: 100%;
}
.container {
  position: relative;
  top: 100px;
  left: 200px;
  background-color: white;
  width: 30%;

  text-align: center;
  box-shadow: 2px 2px 4px black;
}
footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
